services:
  - type: web
    name: medpharma-hub
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python run.py
    envVars:
      - key: APP_HOST
        value: 0.0.0.0
